    

      <div class="row">
        <div class="large-12 columns">
          
          <h1>Elite Blog <small>Because you're awesome.</small></h1>
          <hr/>
        </div>
      </div>
      
      <div class="row">   
        <div class="large-9 columns" role="content">
     
          <article>
     
            <h3><a href="#">Why Elite Tech Rocks</a></h3>
            <h6>Written by <a href="#">Mitchell Calder</a> on April 26, 2012.</h6>
     
            <div class="row">
              <div class="large-6 columns">
                <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa.</p>
                <p>Boudin aliqua adipisicing rump corned beef. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
              </div>
              <div class="large-6 columns">
                <img src="http://placehold.it/400x240&text=[img]"/>
              </div>
            </div>
     
            <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
     
            <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
     
          </article>
     
          <hr/>
     
          <article>
     
            <h3><a href="#">Why You Can Go Camping With Electronics</a></h3>
            <h6>Written by <a href="#">Mitchell Clader</a> on April 22, 2015.</h6>
     
            <div class="row">
              <div class="large-6 columns">
                <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa.</p>
                <p>Boudin aliqua adipisicing rump corned beef. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
              </div>
              <div class="large-6 columns">
                <img src="http://placehold.it/400x240&text=[img]"/>
              </div>
            </div>
     
            <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
     
            <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
     
          </article>
     
        </div>
     
         
     
     
         
     
        <aside class="large-3 columns">
     
          <h5>Categories</h5>
          <ul class="side-nav">
            <a href="#" class="button small round">News</a>
            <a href="#" class="button small round">Events</a>
            <a href="#" class="button small round">Design</a>
            <a href="#" class="button alert small round">Products</a>
          </ul>
     
          <div class="panel">
            <h5>Featured</h5>
            <p>How to use Elite Tech to find a wife like Captain Calder's. Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p>
            <a href="#">Read More →</a>
          </div>
     
        </aside>
     
         
      </div>
     
       
     
     
       
     
      <footer class="row">
        <div class="large-12 columns">
          <hr/>
          <div class="row">
            <div class="large-6 columns">
              <p>© Elite Tech. Go Have Fun.</p>
            </div>
            <div class="large-6 columns">
              <ul class="inline-list right">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    